@charset "ISO-8859-1";



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	font-size:10pt;
	text-align: center;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
.background{
	
	top:0px;
}
.img{
	height:700px;
	width:700px;
	position: absolute;
	top: -270px;
	left: 900px;

	
}

img {
	
	color:black;
}


.form{
	position:relative;
	top:100px;
	left:70px;
	width:90%;
	padding-top: 90px;
	padding-bottom: 90px;
	border-top-left-radius: 70px;
	font-family: arial, sans-serif;
	font-size:28px;
	border-bottom-right-radius: 70px;
	border-width: 5px;
	border-style: solid;
	border-color: #000;
}

#submit{
	 margin-left: 0%;
	 position:absolute;
	 top:120px;
	 left:43%;
	 width:15%;
	 font-size:large;
	 background-color: #32C81A;
	 height:40px;
	 border:none;
	 color:white;
	 border-radius:8px;
	 cursor:pointer;
	 transition: 0.5s;
	 
}	

#submit:hover {
	box-shadow: 0 10px 15px  #a2ff42;
	
	
}

#repo{
	
	border-style:solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    background-color: transparent;
    width: 30%;
    height: 30px;
    font-size: 20px;
    outline: none;
	
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 28px;
}



td, th {
    border: 1px solid #808080;
    text-align: center;
    padding: 8px;

}



tr:nth-child(even) {
    background-color: transparent;
}


.print{
	
	position: absolute;
	top:550px;
	left:5%;
	font-size:large; 
	 border:none;
	 color:white;
	 border-radius:8px;
	 cursor:pointer;
	 transition: 0.5s;
}
.print input{
	
	background-color: white;
	color:black;
	height: 30px;
	width:200%;
	border-radius: 5px;
}
label{
	
	font-size: 30px;
}

