@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;


}
header {
	height: 100px;
	background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	z-index: 10;
	position: fixed;
}

.img{
	position: absolute;
	left: 0;
	right: 80px;
	top:-275px;
	height:650px;
	width:600px;
	
	

}

.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #222;
	font-weight: bold;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;


}

nav a:hover{

  color: #222;
	background-color: #fff;
	font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
  transition: 0.5s;
  border-radius: 5px 5px 5px 5px;
	box-shadow: 0 10px 15px   rgba(145, 92, 182, .4);

}

.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background-image:url("../images/background1.jpg");
  filter: blur(5px);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;

}

.banner-area h2 {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #fff;
}
.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	opacity: 0.9;
	height: 700px;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}







.loginbox
{
	width:500px;
	padding:20px ;
	top:100px;
	left:32.5%;
	border-top-left-radius: 50px;
    border-bottom-right-radius: 70px;
    border-width: 5px;
    border-style: solid;
    border-color: #000;
	color:	rgb(77, 77, 77);
	position:absolute;
    margin-bottom:50px;
	bottom:-10px;
	
	background:transparent;
	
	font-family: Arial;
}

.loginbox h1
{
	text-align:center;
	padding:20px 0 ;
	font-size:40px;
	border-bottom:6px solid black ;
	margin-bottom:50px;
	color:rgb(51, 51, 51);
}

.textbox
{
	margin:10px 0;
	width:55%;
	overflow:hidden;
	font-size:20px;
	padding:10px 0;
	color:black;
	
}


.textbox input
{
	font-family:Arial;
} 


.unam
{
	border-style: solid;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color:transparent;
	border-bottom-color: black;
	background-color: transparent;
	width:60%;
	font-size: 16px;
	outline:none;
	
}

.textbox2
{
	margin:10px 0;
	width:55%;
	overflow:hidden;
	font-size:20px;
	padding:10px 0;
	color:black;
	
}


.textbox2 input
{
	margin-left:4px;
	font-family:Arial;
} 
hr{
	width:100%;
	
	border:1px solid black;
}
.unam1
{
	border-style: solid;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color:transparent;
	border-bottom-color: black;
	background-color: transparent;
	width:60%;
	font-size: 16px;
	outline:none;
	
}

.textbutton {
  
  left:35%;
  top:380px;
  position:absolute;
  background-color:linear-gradient(to right, #000000, #434343) ;
  size:100px;
  
  
}
.textbutton input
{
	height: 30px;
	width:120px;
	background-color: #32C81A;
	border-radius: 10px 10px 10px 10px;
	color:white;
	
}
.textbutton:hover{
	box-shadow: 0 5px 15px  #a2ff42;
	outline:none;
	transition:0.55s;
	transform:scale(1.1);
}

.textchk
{
	position: absolute;
	top:400px;
}


.psw{
	
	position:absolute;
	top:492px;
	left:50px;
	font-size:15px;
}

.bsw
{
	position:absolute;
	top:492px;
	left:380px;
	/*background-color:linear-gradient(to right, #000000, #434343);*/
	font-size:15px;
	/*width:auto*/;
	padding:5px -2;
	
	
	
}


.insbn
{
	color:black;
	position: absolute;;
	top: 600px;
	left:80%;
}
.insbn input
{
	background-color:#ffff00;
	border-radius: 10px 10px 10px 10px;
	color:black;
	height: 40px;
	width:100px;
	
}
.insbn input:hover
{
	
	outline:none;
	transition:0.25s;
	transform:scale(1.1);
}



.insbn1
{
	
	position: absolute;;
	top: 600px;
	left:60%;
}
.insbn1 input
{
	background-color: #32C81A;
	border-radius: 10px 10px 10px 10px;
	color:#fff;
	height: 30px;
	width: 80px;
	
}
.insbn1 input:hover
{
	box-shadow: 0 10px 15px  #a2ff42;
	outline:none;
	transition:0.55s;
	transform:scale(1.1);
}
.inf
{
	color:black;
	font-style: italic;
	position:relative;
	top:380px;
	left:-3%;
	font-size: 8px;
} 


.nf
{
	color:black;
	font-style: italic;
	position:relative;
	top:200px;
	left:-3%;
	font-size: 15px;
} 
