@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
header {
	height: 100px;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;

}
.img{
	position: absolute;
	left: 0;
	right: 80px;
	top:-275px;
	height:650px;
	width:600px;
	
	

}
nav a:hover{
  background-color: #fff;
  color: #222;
  padding-left: 4px;
  padding-right: 4px;
  transition: 0.5s;
  border-radius: 5px 5px 5px 5px;
}

.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background: url("../images/background1.jpg" );
  filter: blur(5px);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #fff;
}
.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	opacity: 0.9;
	height: 800px;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}














.fbox
{
	
	width:500px;
	padding:20px ;
	top:120px;
	left:32.5%;
	
	color:	rgb(77, 77, 77);
	position:absolute;
    margin-bottom:100px;
	bottom:100px;
	border-top-left-radius: 50px;
    border-bottom-right-radius: 70px;
    border-width: 5px;
    border-style: solid;
    border-color: #000;
	background:transparent;
	
	font-family:Arial;
}
.fbox h1
{
	color:black;
	text-align:center;
}
.textbox
{
	color:black;
	margin-bottom:8%;
	margin-top:10%;
	margin-left:-10%;
	font-size:20px;
}
.textbox input
{
	margin-left:84px;
	font-family:Arial;
	width:35%;
} 
.textbox1
{
	color:black;
	margin-top:-5%;
	margin-left:-10%;
	font-size:20px;
}
.textbox1 input
{
	margin-left:60px;
	font-family:Arial;
	width:35%;
} 

.clic
{
	color:#585858;
	font-size:15px;
}
.clic input
{
	margin-left:-200px;
	width:10%;
}
.textbutton
{
	position: absolute;
	top:350px;
	left:35%
}
.textbutton input
{
	height:30px;
	width:300%;
	color:white;
	background-color: #32C81A;
	border-radius: 10px 10px 10px 10px;
}
.textbutton input:hover
{
	box-shadow: 0 5px 15px  #a2ff42;
    outline:none;
	transition:0.5s;
	transform:scale(1.2);
}
.fobn
{
	color:black;
	position:absolute;
	top:550px;
	left:80%;
}
.fobn input
{
	background-color:#ffff00;
	border-radius: 10px 10px 10px 10px;
	color:black;
	height: 40px;
	width: 300%;
	font-weight: bold;
	
	
}
.fobn input:hover
{
	
	outline:none;
	transition:0.25s;
	transform:scale(1.1);
	
}

.input{
	border-style:solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    background-color: transparent;
    width: 40%;
    height: 30px;
    font-size: 15px;
    outline: none;
}


