@charset "ISO-8859-1";


* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
header {
	height: 100px;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;

}

.img{
	position: absolute;
	left: 0;
	right: 80px;
	top:-275px;
	height:650px;
	width:600px;
	
	

}

nav a:hover{
  background-color: #fff;
  color: #222;
  padding-left: 4px;
  padding-right: 4px;
  transition: 0.5s;
  border-radius: 5px 5px 5px 5px;
}

.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background: url("../images/background1.jpg" );
  filter: blur(5px);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #fff;
}
.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	opacity: 0.9;
	height: 800px;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}





.regbox
{
	width:1000px;
	padding:20px ;
	top:100px;
	left:16%;
	border-top-left-radius: 50px;
    border-bottom-right-radius: 70px;
    border-width: 5px;
    border-style: solid;
    border-color: #000;
	color:	rgb(77, 77, 77);
	position:absolute;
    margin-bottom:100px;
	bottom:-40px;
	
	background:transparent;
	
	font-size: 25px;
}
.regbox h1
{
	text-align:center;
	padding:20px 0 ;
	font-size:40px;
	border-bottom:6px solid black ;
	margin-bottom:50px;
	color:black;
}

table
{
	font-size:20px;
	border-collapse:collapse;
	width:100%;
	
}
tr:nth-child(even)
{
	background-color:#dddddd;
	
	
}
td,th
{
	color:black;
	text-align:left;
	padding:8px;
	border:2px solid #808080;
}

.upd
{
	position:absolute;
	top:480px;
	bottom:20px;
	left:80%;
}

.upd input
{
	color:white;
	height:40px;
	background-color: #0080ff;
	width:155px;
	border-radius: 5px;
	font-size: 20px; 
}
.upd input:hover
{
	box-shadow: 0 5px 15px  #06d9ff;
	outline:none;
	transition:0.25s;
	transform:scale(1.1);
}


.del
{
	position:absolute;
	top:540px;
	bottom:20px;
	left:80%;
}

.del input
{
	color:white;
	height:40px;
	background-color: #d60000;
	width:155px;
	border-radius: 5px;
	font-size: 20px; 
}
.del input:hover
{
	box-shadow: 0 5px 15px  #ff4242;
	outline:none;
	transition:0.25s;
	transform:scale(1.1);
}